includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	ignoreErrors:
		- '#PrestaShop\\Module\\Ps_Googleanalytics\\Handler\\ModuleHandler::uninstallModule\(\) calls parent::uninstall\(\) but PrestaShop\\Module\\Ps_Googleanalytics\\Handler\\ModuleHandler does not extend any class.#'
		- '#Access to an undefined property Cookie\:\:\$ga_admin_order.#'
		- '#Access to an undefined property Cookie\:\:\$ga_admin_refund.#'
